@model ProyectoPostres.Models.Receta

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<div class="card card-body" style="background-color:#CD853F;  width:250px; color:black;">
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Postre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta_Postre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default btn-dark" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
