@model ProyectoPostres.Models.Receta

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div class="card card-body" style="background-color:#CD853F; width:250px; color:black;">
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Postre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta_Postre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
