@model ProyectoPostres.Models.Receta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Postre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta_Postre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta_Postre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
